[submodule "scamp"]
	path = submodules/scamp
	url = ./scamp
[submodule "sextractor"]
	path = submodules/sextractor
	url = ./sextractor/
[submodule "swarp"]
	path = submodules/swarp
	url = ./swarp
[submodule "hotpants"]
	path = submodules/hotpants
	url = ./hotpants/
